.srg-bg-p {
    background: red;
    border: 1px solid orange;
}

.srg-bg-primary {
    background: #7178A1
}

.srg-bg-secondary {
    background: #B4B8CD
}

.srg-btn-primary {
    background-color: #7178A1;
}