.srg-bg-p {
    background: red;
    border: 1px solid orange;
}

.srg-bg-primary {
    background: #01359b
}

.srg-bg-secondary {
    background: #C3C6D7
}

.srg-btn-primary {
    background-color: #01359b;
}

.my-link:hover {
    background-color: #B4B8CD
}