{% extends 'layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
    {% load humanize %}
    {% load crispy_forms_tags %}
    {% load static %}


    <link rel="stylesheet" href="{% static 'css/site.css' %}">




    <div class="container-fluid mt-2">
        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-center ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 rounded-4 text-start position-static">
                <h2 class="display-5 fw-normal">Projects Analysis - Engagement Total</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center" id="">
            {% for project in top_projects %}
                <div class="border rounded-3 mt-5 srg-bg-primary py-3">
                    <div class="accordion-button text-decoration-none collapsed d-flex justify-content-center">
                        <div class="w-100 d-flex justify-content-between flex-row flex-wrap">
                            <div class="card col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 p-2 srg-bg-secondary">
                                <h2 class="srg-header">Quick Look:</h2>
                                <h5>
                                    {{ project.provider_id }} {{ project.provider_id__provider_name }}<br>
                                    {{ project.time_code }} {{ project.time_code_id__time_code_description }}<br>
                                    {{ project.fye|date:'m/d/Y' }} <br>
                                </h5>
                                <h5>
                                    <a class="srg-link" href="{% url 'analytics-detail' project.provider_id project.time_code project.fye %}">Detailed Report</a>
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary srg-border">
                                <h2 class="text-center srg-header">Hours</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.sum_of_project_hours is None %}
                                        0.00
                                    {% else %}
                                        {{ project.sum_of_project_hours }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary">
                                <h2 class="text-center srg-header">Budget</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.time_code_id__time_code_hours_budget is None %}
                                        0.00
                                    {% else %}
                                        {{ project.time_code_id__time_code_hours_budget }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary">
                                <h2 class="text-center srg-header">Available</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.hours_left is None %}
                                        0.00
                                    {% else %}
                                        {% if project.hours_left >= 0 %}
                                            {{ project.hours_left }}
                                            {% else %}
                                                <span class="text-danger display-6 text-start">{{ project.hours_left }}</span>
                                        {% endif %}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary">
                                <h2 class="text-center srg-header">% Used</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.percent_to_budget is None %}
                                        0.00
                                    {% else %}
                                        {% if project.hours_left >= 0 %}
                                            {{ project.percent_to_budget }}%
                                            {% else %}
                                                <span class="text-danger display-6 text-start">{{ project.percent_to_budget }}%</span>
                                        {% endif %}
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        <!--
        <div class="row d-flex justify-content-center" id="">
            {% for project in top_projects %}
                <div class="border rounded-3 mt-5 srg-bg-primary py-3">
                    <div class="accordion-button text-decoration-none collapsed d-flex justify-content-center" id="flush-{{ project.provider_id }}-{{ project.time_code }}-{{ project.fye }}-flush" data-bs-toggle="collapse"
                    href="#flush-{{ forloop.counter }}" aria-controls="{{ project.provider_id }}-{{ project.time_code }}-{{ project.fye }}">
                        <div class="w-100 d-flex justify-content-between flex-row flex-wrap">
                            <div class="card col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 p-2 srg-bg-secondary">
                                <h2 class="srg-header">Quick Look:</h2>
                                <h5>
                                    {{ project.provider_id }} {{ project.provider_id__provider_name }}<br>
                                    {{ project.time_code }} {{ project.time_code_id__time_code_description }}<br>
                                    {{ project.fye|date:'m/d/Y' }} <br>
                                </h5>
                                <h5>
                                    <a class="srg-link" href="{% url 'analytics-detail' project.provider_id project.time_code project.fye %}">Detailed Report</a>
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary srg-border">
                                <h2 class="text-center srg-header">Hours</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.sum_of_project_hours is None %}
                                        0.00
                                    {% else %}
                                        {{ project.sum_of_project_hours }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary">
                                <h2 class="text-center srg-header">Budget</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.time_code_id__time_code_hours_budget is None %}
                                        0.00
                                    {% else %}
                                        {{ project.time_code_id__time_code_hours_budget }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary">
                                <h2 class="text-center srg-header">Available</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.hours_left is None %}
                                        0.00
                                    {% else %}
                                        {% if project.hours_left >= 0 %}
                                            {{ project.hours_left }}
                                            {% else %}
                                                <span class="text-danger display-6 text-start">{{ project.hours_left }}</span>
                                        {% endif %}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-auto card p-5 srg-bg-secondary">
                                <h2 class="text-center srg-header">% Used</h2>
                                <h5 class="display-6 text-center">
                                    {% if project.percent_to_budget is None %}
                                        0.00
                                    {% else %}
                                        {% if project.hours_left >= 0 %}
                                            {{ project.percent_to_budget }}%
                                            {% else %}
                                                <span class="text-danger display-6 text-start">{{ project.percent_to_budget }}%</span>
                                        {% endif %}
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="flush-{{ forloop.counter }}" aria-labelledby="flush-{{ project.provider_id }}-{{ project.time_code }}-{{ project.fye }}-flush" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body mt-4">
                            <div class="row px-2 d-flex justify-content-between">
                                <div class="col-4 card bg-transparent srg-border text-light">
                                    <h5 class="text-center mt-2">Employee Rollup</h5>
                                    <table class="table table-small text-light">
                                        <thead>
                                            <tr>
                                                <th>Employee</th>
                                                <th>Hours</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for e in project.proj_emp_agg %}
                                                <tr>
                                                    <td>{{ e.employee_id }}</td>
                                                    <td>{{ e.emp_sum_of_project_hours }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        -->
    </div>



{% endblock %}