{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
    {% load mathfilters %}
    <div class="container-fluid mt-4">
        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 rounded-4 text-start border">
                <h3 class="fs-1 fw-normal">Project Analysis</h3>
                {% for item in proj_detail %}
                    <h4 class="fw-normal text-start">{{ item.provider_id }}</h4>
                    <h4 class="fw-normal text-start">{{ item.time_code }}</h4>
                    <h4 class="fw-normal text-start">{{ item.fye|date:'m/d/Y' }}</h4>
                {% endfor %}
            </div>
        </div>
        <div class="row srg-bg-secondary rounded-4 p-2 text-white d-flex justify-content-xxl-between justify-content-sm-center mt-4">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 border-lg rounded-2 py-4">
                <h4 class="text-center srg-header">Hours by Employee</h4>
                <canvas id="myChart" width="100" height="100"></canvas>
                <script>
                    const config = {
                        type: 'doughnut',
                        data: {
                            labels:{{ labels|safe }},
                            datasets: [{
                                label: [{{ labels|safe }}],
                                data: [{% for i in data %}{{ i }},{% endfor %}],
                                backgroundColor: [{% for i in color %}'rgb{{ i|safe }}',{% endfor %}],
                                borderColor: [{% for i in color %}'rgb{{ i|safe }}',{% endfor %}]
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        color: "black",
                                    }
                                }
                            }
                        }
                    };
                </script>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 border-lg rounded-2 py-4">
                <h4 class="text-center srg-header">Total Hours</h4>
                <canvas id="myChart2" width="100" height="100"></canvas>
                <script>
                    const config2 = {
                        type: 'doughnut',
                        data: {
                            labels:['Used', 'Available'],
                            datasets: [{
                                label: ['Used', 'Available'],
                                data: [{% for i in proj_hours %}{{ i.sum_of_project_hours }},{{ i.project_hours_remain }}{% endfor %}],
                                backgroundColor: ['#02308C','#004000'],
                                borderColor: ['#02308C','#004000'],
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        color: "black"
                                    }
                                }
                            }
                        }
                    };

                </script>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 border-lg rounded-2 py-4">
                <h4 class="text-center srg-header">Total Cost</h4>
                <canvas id="myChart3" width="100" height="100"></canvas>
                <script>
                    const config3 = {
                        type: 'doughnut',
                        data: {
                            labels:['Cost', 'Budget'],
                            datasets: [{
                                label: ['Used', 'Available'],
                                data: [{% for i in proj_dollars %}{{ i }},{% endfor %}],
                                backgroundColor: ['#02308C','#8B0000'],
                                borderColor: ['#02308C','#8B0000'],
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        color: "black"
                                    }
                                }
                            }
                        }
                    };
                    window.onload = function() {

                        const ctx = document.getElementById('myChart').getContext('2d');
                        window.myLine = new Chart(ctx, config);

                        const ctx2 = document.getElementById('myChart2').getContext('2d');
                        window.myLine = new Chart(ctx2, config2);

                        const ctx3 = document.getElementById('myChart3').getContext('2d');
                        window.myLine = new Chart(ctx3, config3);
                    }
                </script>

            </div>
        </div>

         <div class="row srg-bg-secondary rounded-4 p-2 text-white d-flex justify-content-center mt-4">

            <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12 pt-3 px-3">
                <div class="row">
                    <h4 class="text-start py-2 fw-normal fs-2 srg-header" style="border-bottom:1px solid #a9a9a9">Employee Breakdown</h4>
                    <table class="table table-bordered srg-border" >
                        <thead class="srg-bg-primary">
                            <tr class="text-white text-center">
                                <th>Employee</th>
                                <th>Hours</th>
                                <th>Rate</th>
                                <th>Cost</th>
                            </tr>

                        </thead>
                            {% for emp in proj_emp_detail_aggr %}
                                <tr>
                                    <td class="">
                                        {{ emp.employee_id }}
                                    </td>
                                    <td class="">
                                        {{ emp.emp_sum_of_project_hours }}
                                    </td>
                                    <td class="">
                                        {{ emp.employee_id__employee_title__rate }}
                                    </td>
                                    <td class="">
                                        $ {{ emp.emp_sum_of_project_hours|mul:emp.employee_id__employee_title__rate|intcomma }}
                                    </td>
                                </tr>
                            {% endfor %}
                    </table>

            </div>

         </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/chart.js@3.9.1,npm/chart.js@3.9.1/dist/chart.min.js"></script>

{% endblock %}