{% extends 'layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
    {% load humanize %}
    {% load crispy_forms_tags %}
    <div class="container-fluid mt-4">
        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 rounded-4 text-center">
                <h2 class="display-4 fw-normal">{{ user.first_name }}'s Timesheet</h2>
                <h4 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h4>
                <h4 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h4>
            </div>
        </div>


        <div class="row srg-bg-secondary rounded-4 mt-4 p-2 py-2 table-responsive">
            <h4 class="text-center p-3 fw-semibold">Bulk Timesheet Form</h4>

            <form id="form-container" method="POST">
            {% csrf_token %}
                <table class="table table-bordered fw-normal table-sm">
                    <thead>
                        <tr class="text-center fw-normal">
                            <th class="fw-semibold">Date</th>
                            <th class="fw-semibold">Provider</th>
                            <th class="fw-semibold">Time Code</th>
                            <th class="fw-semibold">Hours</th>
                            <th class="fw-semibold">Type</th>
                            <th class="fw-semibold">FYE</th>
                            <th class="fw-semibold">Note</th>
                        </tr>
                    </thead>
                    {{ timesheet_formset.management_form }}
                    {% for form in timesheet_formset %}
                        <tr class="timesheet-form">
                            {% for field in form.visible_fields %}
                                <td class="text-center">{{ field }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <button class="srg-btn-primary" type="submit">Save Timesheet</button>
            </form>
        </div>


        <div class="row srg-bg-secondary rounded-4 my-4 p-2 py-2 table-responsive-md d-flex justify-content-between">
            <h4 class="text-center p-3 fw-semibold">Current Week Timesheet</h4>
                <table class="table text-center table-bordered">
                <thead>
                    <tr class="text-center text-white border-0 srg-bg-primary">
                        <th class="fw-semibold">Date</th>
                        <th class="fw-semibold">Provider</th>
                        <th class="fw-semibold">Time Code</th>
                        <th class="fw-semibold">Hours</th>
                        <th class="fw-semibold">Type</th>
                        <th class="fw-semibold">FYE</th>
                        <th class="fw-semibold">Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in current_timesheet %}
                        <tr>
                            <td>{{ rec.date|date:'m/d/Y' }}</td>
                            <td class="text-start">{{ rec.provider_id }}</td>
                            <td class="text-start">{{ rec.time_code }}</td>
                            <td>{{ rec.hours }}</td>
                            <td>{{ rec.type_id }}</td>
                            <td>{{ rec.fye|date:'m/d/Y' }}</td>
                            <td class="text-start">{{ rec.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}