{% extends 'layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
    {% load humanize %}
    {% load crispy_forms_tags %}
    {% load mathfilters %}
    {% load static %}
    <div class="container-fluid mt-4">

        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-between mt-4">
            <div class="col-xxl-12 border rounded-2 pb-4">
                <h3 class="display-5 fw-normal">Comparison Report</h3>

                <div id="toolbar" class="select">
                    <label>
                        <select class="form-control">
                            <option value="">Export Basic</option>
                            <option value="all">Export All</option>
                        </select>
                    </label>
                </div>
                <table class="table" id="table" data-toggle="table"
                       data-search="True"
                       data-filter-control="true"
                       data-show-search-clear-button="true"
                       data-toolbar="#toolbar"
                       data-mobile-responsive="true"
                       data-show-export="true"
                       data-show-columns="true">
                    <thead>
                        <tr class="text-white">
                            <th class="px-1 pb-1" data-field="employee_id" data-sortable="true" data-filter-control="select">Employee</th>
                            <th class="px-1 pb-1" data-field="provider_id" data-sortable="true" data-filter-control="select">Provider</th>
                            <th class="px-1 pb-1" data-field="project" data-sortable="true" data-filter-control="select">Project</th>
                            <th class="" data-sortable="true">FYE</th>
                            <th class="" data-sortable="true">TS HRS</th>
                            <th class="" data-sortable="true">TD HRS</th>
                            <th class="" data-sortable="true">ACC (%)</th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for entry in employee_timesheet_projects %}
                            <tr class="text-white">
                                <td>{{ entry.employee_id }}</td>
                                <td>{{ entry.provider_id }}-{{ entry.provider_id__provider_name }}</td>
                                <td>{{ entry.time_code }}-{{ entry.time_code_id__time_code_description }}</td>
                                <td>{{ entry.fye|date:'m/d/Y' }}</td>
                                <td>{{ entry.sum_of_project_hours }}</td>
                                <td>{{ entry.todo_hours }}</td>
                                <td>{% if entry.accuracy is None %}0{% else %}{{ entry.accuracy }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <script>
                  var $table = $('#table')

                  $(function() {
                    $('#toolbar').find('select').change(function () {
                      $table.bootstrapTable('destroy').bootstrapTable({
                        exportDataType: $(this).val(),
                        exportTypes: ['csv','excel', 'pdf'],
                      })
                    }).trigger('change')
                  })
                </script>
            </div>

        </div>

    </div>

{% endblock %}