{% extends 'layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
    {% load humanize %}
    {% load crispy_forms_tags %}
    <div class="container-fluid mt-4">

        <div class="row srg-bg-secondary rounded-4 my-4 p-2 py-2 table-responsive-md d-flex justify-content-between">
            <div class="d-flex justify-content-between" style="border-bottom: 1px solid #a9a9a9">
                <h4 class="text-start fs-2 fw-normal srg-header">Employee Billable Hours Report <br> {{ last_month|date:'F Y' }}</h4>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="text-decoration-none" href="#" name="excel_extract"><i class="bi bi-save"> Excel</i></button>
                    <button type="submit" class="text-decoration-none" href="#" name="pdf_extract"><i class="bi bi-save"> PDF</i></button>
                </form>

            </div>

            <table class="table table-sm table-bordered srg-border align-middle mt-3">
                <thead>
                    <tr class="text-center srg-bg-primary text-white border-0">
                        <th class="fw-semibold border-0">Employee</th>
                        <th class="fw-semibold border-0">Fixed</th>
                        <th class="fw-semibold border-0">Hourly</th>
                        <th class="fw-semibold border-0">Contingency</th>
                        <th class="fw-semibold border-0">Non-Billable</th>
                        <th class="fw-semibold border-0">Total</th>
                        <th class="fw-semibold border-0">% Billable</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in compilation %}
                        <tr>
                            <td style="width: 150px">{{ entry.employee_id }}</td>
                            <td class="text-center" style="width: 150px">{% if entry.fhours == 0%}-{% else %}{{ entry.fhours }}{% endif %}</td>
                            <td class="text-center" style="width: 150px">{% if entry.hhours == 0 %}-{% else %}{{ entry.hhours }}{% endif %}</td>
                            <td class="text-center" style="width: 150px">{% if entry.chours == 0 %}-{% else %}{{ entry.chours }}{% endif %}</td>
                            <td class="text-center" style="width: 150px">{% if entry.nhours == 0 %}-{% else %}{{ entry.nhours }}{% endif %}</td>
                            <td class="text-center" style="width: 150px">{% if entry.total_hours == 0 %}-{% else %}{{ entry.total_hours }}{% endif %}</td>
                            <td class="text-center" style="width: 150px">{% if entry.billability == 0 %}-{% else %}{{ entry.billability }}{% endif %}</td>
                        </tr>

                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="fw-semibold">Total:</td>
                        <td class="fw-semibold text-center">{{ srg_total_fhours.srg_fhours_sum }}</td>
                        <td class="fw-semibold text-center">{{ srg_total_hhours.srg_hhours_sum }}</td>
                        <td class="fw-semibold text-center">{{ srg_total_chours.srg_chours_sum }}</td>
                        <td class="fw-semibold text-center">{{ srg_total_nhours.srg_nhours_sum }}</td>
                        <td class="fw-semibold text-center">{{ srg_total_hours }}</td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>
{% endblock %}