{% extends 'layout_partial.html' %}
{% block content %}
    <div class="container-fluid overflow-hidden vh-100 align-items-center d-flex justify-content-center srg-bg-primary">
        <div class="card px-5 border" style="width:450px">
            <h2 class="display-4 fw-normal mt-4 srg-header"> Register</h2>
            <form class="text-start" method="POST">
                {% csrf_token %}

                <div class="form-floating mt-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="FirstName" required name="first_name">
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating mt-4">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" required name="last_name">
                    <label for="floatingInput">Last Name</label>
                </div>

                <div class="form-floating mt-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required name="password1">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mt-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="CPassword" required name="password2">
                    <label for="floatingPassword">Confirm Password</label>
                    {% for message in messages %}
                        <p class="form-text">{{ message }}</p>
                {% endfor %}
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                    <button class="srg-btn-primary mt-3" type="submit" name="submit" value="Register">Register</button>
                </div>
        </form>
    </div>
</div>


{% endblock %}
