{% extends 'layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
    {% load humanize %}
    {% load crispy_forms_tags %}
    <div class="container-fluid mt-4">
        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 rounded-4 text-center">
                <h2 class="display-4 fw-normal">{{ user.first_name }}'s Timesheet</h2>
                <h4 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h4>
                <h4 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h4>
            </div>
        </div>
        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-between mt-4">

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 border rounded-2 pt-3">
                <h4 class="text-center">Top Projects - Last 30 Days</h4>
                <table class="table table-small text-light">
                    <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Project</th>
                            <th>FYE</th>
                            <th>Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in top_projects.all %}
                            <tr>
                                <td>{{ project.provider_id }} {{ project.provider_id__provider_name }}</td>
                                <td>{{ project.time_code }} {{ project.time_code_id__time_code_description }}</td>
                                <td>{{ project.fye|date:'m/d/Y' }}</td>
                                <td>{{ project.sum_of_project_hours }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 border rounded-2 pt-3 mt-md-2">
                <h4 class="text-center">Weekly Hours Total</h4>
                <h1 class="display-1 text-center">{% if total_hours.sum_of_hours is None %}0.00{% else %}{{ total_hours.sum_of_hours }}{% endif %}</h1>

                <h5 class="text-center">Breakdown</h5>
                <table class="table table-small text-light">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th>Fixed</th>
                            <th>Hourly</th>
                            <th>Contin.</th>
                            <th>NB</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Week</td>
                            <td>{% if fixed_hours.sum_of_hours is None  %}{% else %}{{ fixed_hours.sum_of_hours }}{% endif %}</td>
                            <td>{% if hourly_hours.sum_of_hours is None  %}{% else %}{{ hourly_hours.sum_of_hours }}{% endif %}</td>
                            <td>{% if contingency_hours.sum_of_hours is None  %}{% else %}{{ contingency_hours.sum_of_hours }}{% endif %}</td>
                            <td>{% if non_hours.sum_of_hours is None  %}{% else %}{{ non_hours.sum_of_hours }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>30 Days</td>
                            <td>{% if thirty_fixed_hours.sum_of_hours is None  %}{% else %}{{ thirty_fixed_hours.sum_of_hours }}{% endif %}</td>
                            <td>{% if thirty_hourly_hours.sum_of_hours is None  %}{% else %}{{ thirty_hourly_hours.sum_of_hours }}{% endif %}</td>
                            <td>{% if thirty_contingency_hours.sum_of_hours is None  %}{% else %}{{ thirty_contingency_hours.sum_of_hours }}{% endif %}</td>
                            <td>{% if thirty_non_hours.sum_of_hours is None  %}{% else %}{{ thirty_non_hours.sum_of_hours }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>




        <div class="d-flex flex-row flex-wrap srg-bg-secondary rounded-4 my-4 p-2 py-2 table-responsive-md">
            <div class="flex-xl-grow-0 flex-md-grow-1 rounded-2 border p-2">
                <h4 class="text-center p-3 fw-semibold">Timesheet Form</h4>
                <form class="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper mb-3">
                            {{ field.label_tag }} <br>{{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button class="srg-btn-primary btn btn-primary my-2" style="background-color: #7178A1;border: 1px solid #7178A1" type="submit">Save Entry</button>
                    <a class="mx-3" href="{% url 'timesheet-bulk' %}">Bulk Form</a>
                </form>
            </div>
            <div class="flex-grow-1 p-2">
                <h4 class="text-center p-3 fw-semibold">Current Week Timesheet</h4>
                <table class="table table-sm text-center table-bordered">
                <thead>
                    <tr class="text-center">
                        <th class="fw-semibold">Date</th>
                        <th class="fw-semibold">Provider</th>
                        <th class="fw-semibold">Time Code</th>
                        <th class="fw-semibold">Hours</th>
                        <th class="fw-semibold">Type</th>
                        <th class="fw-semibold">FYE</th>
                        <th class="fw-semibold">Note</th>
                        <th class="fw-semibold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in current_timesheet %}
                        <tr>
                            <td>{{ rec.date|date:'m/d/Y' }}</td>
                            <td class="text-start">{{ rec.provider_id }}</td>
                            <td class="text-start">{{ rec.time_code }}</td>
                            <td>{{ rec.hours }}</td>
                            <td class="text-start">{{ rec.type_id }}</td>
                            <td>{{ rec.fye|date:'m/d/Y' }}</td>
                            <td class="text-start">{{ rec.note }}</td>
                            <td class="m-0 p-0 text-center" style="min-width:95px;">
                                <a type="button" class="btn btn-primary" style="background-color: #7178A1;border: 1px solid #7178A1" href="{% url 'edit-timesheet' rec.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 2 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                                <a type="button" class="btn btn-danger" href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 2 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

        </div>
    </div>
{% endblock %}