{% extends 'layout.html' %}

{% block content %}
    {% load humanize %}
    <div class="container-fluid mt-4">
        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 rounded-4 text-start border">
                <h2 class="display-4 fw-normal">{{ user.first_name }}'s To-Do List</h2>
                <h4 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h4>
                <h4 class="fw-normal">Thru: {{ thru_date|date:'D m/d/Y' }}</h4>
            </div>
        </div>

        <!--
        <div class="row srg-bg-primary rounded-4 p-2 text-white d-flex justify-content-center mt-4">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 border rounded-2 pt-3">
                <h4 class="text-center">Upcoming Projects - Next 30 Days</h4>
                <table class="table table-small text-light">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Provider</th>
                            <th>Project</th>
                            <th>FYE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in upcoming_projects %}
                            <tr>
                                <td>{{ project.date|date:'m/d/Y' }}</td>
                                <td>{{ project.provider_id }} {{ project.provider_id__provider_name }}</td>
                                <td>{{ project.time_code }} {{ project.time_code_id__time_code_description }}</td>
                                <td>{{ project.fye|date:'m/d/Y' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
        -->

        <div class="row srg-bg-secondary rounded-4 mt-4 p-2 table-responsive">
            <div class="d-flex flex-row flex-wrap srg-bg-secondary rounded-4 p-2 table-responsive-md">
                <div class="flex-xl-grow-0 flex-md-grow-1 px-2 srg-border">
                    <h4 class="text-start fs-2 fw-normal py-2" style="border-bottom:1px solid #a9a9a9">To-Do Form</h4>
                    <form class="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper mb-3">
                                {{ field.label_tag }} <br>{{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button class="srg-btn-primary mb-2" type="submit">Save Entry</button>
                        <a class="mx-3 srg-link" href="{% url 'todolist-bulk' %}">Bulk Form</a>
                    </form>
                </div>

                <div class="flex-grow-1 px-2 srg-border ms-4">
                    <h4 class="text-start fw-normal fs-2 py-2" style="border-bottom:1px solid #a9a9a9">Current To-Do List</h4>
                    <table class="table table-hover table-bordered text-center mt-2">
                        <thead>
                            <tr class="text-center fw-normal srg-bg-primary text-light border-0">
                                <th class="fw-semibold border-0">Date</th>
                                <th class="fw-semibold border-0">Provider</th>
                                <th class="fw-semibold border-0">Time Code</th>
                                <th class="fw-semibold border-0">FYE</th>
                                <th class="fw-semibold border-0">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rec in current_todolist %}
                                <tr>
                                    <td>{{ rec.date|date:'m/d/Y' }}</td>
                                    <td class="text-start">{{ rec.provider_id }}</td>
                                    <td class="text-start">{{ rec.time_code }}</td>
                                    <td class="text-center">{{ rec.fye|date:'m/d/Y' }}</td>
                                    <td class="gap-2 d-flex p-0 justify-content-center align-items-middle" style="min-width:50px">

                                        <a type="button" class="btn srg-btn-primary-sm" href="{% url 'editToDoListEntry' rec.id %}">
                                            <i class="bi bi-pencil-square fs-5"></i>
                                        </a>
                                        <a type="button" class="btn srg-danger-button" href="">
                                           <i class="bi bi-trash fs-5"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
          document.addEventListener('DOMContentLoaded', function() {
              const calendarEl = document.getElementById('calendar');
              const calendar = new FullCalendar.Calendar(calendarEl, {
                  aspectRatio: 2,
                  navLinks: true,
                  themeSystem: 'standard',
                  headerToolbar: {
                      left: 'prev,next today',
                      center: 'title',
                      right: 'dayGridMonth,dayGridWeek'
                  },
                  initialView: 'dayGridMonth',
                  businessHours: true,
                  eventColor: '#02308C',
                  events: [
                      {% for item in todlist_items %}
                          {
                              title: '{{ item.title|safe }}',
                              start: '{{ item.start|safe }}',
                              end: '{{ item.start|safe }}'
                          },
                      {% endfor %}
                  ],
                  eventClick: function (info) {
                      alert('Event: ' + info.event.title + info.event.id);
                      //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                      //alert('View: ' + info.view.type);

                      // change the border color just for fun
                      info.el.style.borderColor = 'red';
                  }
              });
              calendar.render();
          });

        </script>
        <div class="row mb-4 srg-bg-secondary rounded-4 my-4 p-2">
            <div class="col-xl-12 srg-border p-2">
                <div class="" id='calendar'></div>
            </div>
        </div>
    </div>
{% endblock %}